<div id="<%= dom_id user %>">
  <p>
    <strong>Firstname:</strong>
    <%= user.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= user.phone_no %>
  </p>

</div>
